@import './colors.module.scss';
@import './typography.module.scss';

.container {
  background-color: $background-white;
  float: left;
  width: 80%;
  min-height: calc(75% - 64px);
  margin-top: 5%;
  padding: 10%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);

  p {
    padding: 0;
    margin: 0 0 10% 0;
    line-height: 22px;
    @include description;
  }

  &__section {
    float: left;
    width: 100%;
    margin-bottom: 5%;

    div {
      font-size: .85em;
      margin: 5%;
      padding: 3% 3%;
      text-transform: capitalize;
    }

    /// quick and dirty move list styling
    &:nth-child(4) {
      
      & > ul li {
        @include description;
        padding-bottom: 5px;

        span {
          font-size: 1em;
          font-weight: 700;
        }

      }

    }

    h2 {
      margin: 0;
      @include filter-title;

      span {
        padding-left: 10px;
        font-size: .75em;
      }

    }

    p {
      margin: 5% 0 0 4%;
      text-transform: capitalize;
    }

    ul {
      padding: 0;
      list-style: none;
      float: left;
      width: 100%;
      margin: 4% 0;

      li {
        float: left;
        width: 100%;
        text-transform: capitalize;

        & > ul li {
          float: left;
          
          & > ul {
            margin: 0;
          }
          
          &:first-child {
            width: 35%;
            @include pokemon-type;
            font-size: 1em;
          }

          &:last-child {
            width: 65%;
            @include description;
          }

        }

      }

    }

  }


}