@import '@styles/typography.module.scss';

.container {

  &__info {
    float: left;
    color: $text-white;
  
    &_number {
      color: rgba(23, 23, 27, 0.6);
      margin-bottom: .75em;
      @include pokemon-number;
    }
  
    &_name {
      margin-bottom: .25em;
      @include pokemon-name;
    }
  
  }

}

