@import '@styles/colors.module.scss';
@import '@styles/typography.module.scss';
@import '@styles/mobile.module.scss';

.container {
  background-image: url('../public/images/card-bg.png');
  background-size: cover;
  border-radius: 10px;
  color: $text-white;
  float: left;
  margin: 5%;
  padding: 5%;
  width: 80%;
  cursor: pointer;
  transition: transform 250ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
  
  &:hover {
    transform: translateY(-10px);
  }

  &:hover .container__image >img {
    transform: scale(1.1);
  }

  &__image {
    float: right;
    width: 34%;
    position: relative;

    @include target-mobile {
      width: 30%;
    }

    & > img {
      position: absolute;
      width: 110%;
      left: 0;
      top: -3.2em;
      transition: transform 250ms;
    }

  }

}
