@import '@styles/typography.module.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  gap: 5px;
  border-radius: 3px;  
  float: left;
  margin-right: 1em;
  padding: .5em;

  &__type {
    @include pokemon-type;
  }

}
